<div class="container">
  <label>Add an item: </label>
  <input (keyup)="onKey(itemInput.value)" placeholder="item-name" #itemInput
  (keyup.enter)="addItem(itemInput.value)">
  <button class="btn-primary" type="button" (click)="addItem(itemInput.value)">Add</button>
  <button class="btn-secondary" type="button" (click)="itemInput.value=''">Clear</button>
</div>
<div class="container">
  <label>Items</label>
  <ul>
    <li *ngFor="let item of items; let i = index">
      <div class="container" *ngIf="!editMode[i]">
        <input type="checkbox">
          {{item}} 
        <button class="btn-primary" type="button" (click)="editItem(item, i)">Edit</button>
      </div>
      <div class="container" *ngIf="editMode[i]">
        <input type="checkbox">
        <input  type="text" #listItem [value]="item" (keyup)="onKey(listItem.value)" (keyup.enter)="saveItem(listItem.value, i)">
        <button class="btn-primary" type="button" (click)="saveItem(listItem.value, i)">Save</button>
      </div>
    </li>
  </ul>
</div>
